body {
	font-family: arial,sans-serif,helvetica;
	font-size: 13px;
}

.subject {
	font-weight: bold;
	color: #3344EE;
}

.name {
	font-weight: bold;
	color: #227744;
}

.trip {
	color: #227744;
}

.email {
	font-weight: bold;
	color: #113366;
}

.greentext {
	color: #113366;
}

.thumb {
	float: left;
	margin-left: 4px;
	margin-right: 8px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.reply {
	background-color: #D6DAF0;
}

.deadlink {
	color: #FF0000;
	text-decoration: line-through;
}

.message {
}
