body {
			overflow-x: hidden;
			background-color: #eeeeee;
			min-width: 820px;
		}
			
			/* General Styles - Links / Buttons / Inputs */
			a {
				color: #4F8EF7;
				transition: color 0.15s ease;
			}

			::focus {outline: none !important;}

			input:not([type="submit"]), textarea, .roundfield textarea, .roundfield input[type=text], .roundfield input[type=url], .roundfield input[type=password], .roundfield input[type=number],
			.linefield textarea, .linefield input[type=text], .linefield input[type=password],
			.pretty-form input[type=text], .pretty-form textarea, .pretty-form input[type=password], .pretty-form input[type=number],
			.login-form-side input[type=text], .login-form-side input[type=password] {
				box-shadow: none!important;
				background-color: #fff;
				border: 1px solid #e5e5e5;
				color: #707070;
				transition: all 0.15s ease!important;
			}

				input:hover, textarea:hover, .roundfield textarea:hover, .roundfield input[type=text]:hover, .roundfield input[type=url]:hover, .roundfield input[type=password]:hover, .roundfield input[type=number]:hover,
				.linefield textarea:hover, .linefield input[type=text]:hover, .linefield input[type=password]:hover,
				.pretty-form input[type=text]:hover, .pretty-form textarea:hover, .pretty-form input[type=password]:hover, .pretty-form input[type=number]:hover,
				.login-form-side input[type=text]:hover, .login-form-side input[type=password]:hover {
					border-color: #C5C5C5;
				}

					input:active, textarea:active, .roundfield textarea:active, .roundfield input[type=text]:active, .roundfield input[type=url]:active, .roundfield input[type=password]:active, .roundfield input[type=number]:active,
					.linefield textarea:active, .linefield input[type=text]:active, .linefield input[type=password]:active,
					.pretty-form input[type=text]:active, .pretty-form textarea:active, .pretty-form input[type=password]:active, .pretty-form input[type=number]:active,
					.login-form-side input[type=text]:active, .login-form-side input[type=password]:active {
						outline: none!important;
						border-color: #4F8EF7;
						color: #4D5763;
					}

			.btn, button {
				margin: 4px 16px 4px 0px;
				padding: 2px 18px;
				background-color: #516AE8;
				border: none;
				border-radius: 2px;
				box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
				color: #fff !important;
				text-transform: uppercase;
				font-weight: bold;
				cursor: default;
				transition: all 0.25s ease;
				height: 32px;
				font-size: 12px;
			}

				.btn:hover, button:hover {
					box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.34);
					background-color: #5A72EE;
				}

					.btn:active, button:active {
						box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
						background-color: #4059DB;
					}

					.btn:focus, button:focus {outline: none;}


element.style {
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheetinput:not([type="image" i]), textarea {
    box-sizing: border-box;
}
user agent stylesheetinput[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    padding: 1px 6px;
    padding-top: 1px;
    padding-right: 6px;
    padding-bottom: 1px;
    padding-left: 6px;
}
user agent stylesheetinput[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;
    border: 2px outset buttonface;
    border-top-color: buttonface;
    border-top-style: outset;
    border-top-width: 2px;
    border-right-color: buttonface;
    border-right-style: outset;
    border-right-width: 2px;
    border-bottom-color: buttonface;
    border-bottom-style: outset;
    border-bottom-width: 2px;
    border-left-color: buttonface;
    border-left-style: outset;
    border-left-width: 2px;
}
user agent stylesheetinput[type="button" i], input[type="submit" i], input[type="reset" i] {
    -webkit-appearance: push-button;
    -webkit-user-select: none;
    white-space: pre;
}
user agent stylesheetinput {
    -webkit-appearance: textfield;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    border: 2px inset;
}
user agent stylesheetinput, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
user agent stylesheetinput, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
