<html>
	<head>
		<title>Boards</title>
		<link rel="stylesheet" type="text/css" href="/static/site.css">
	</head>
	<body>
	Boards:
{{range $index, $element := .Boards}}
	<br />
	<a href="/{{$element.Name}}/">{{$element.Desc}}</a>
{{end}}
	</body>
</html>
