{{define `bpost`}}
<div id="{{.Id}}">
Name[{{.Name}}] Subject[{{.Subject}}] Email[{{.Email}}] Date[{{.Date}}]{{if (.HasFile)}} File[<a href="/{{.Board}}/src/{{.File}}">{{.File}}</a>]{{end}} Message[{{.Message}}]
</div>
{{end}}
<html>
	<head>
		<title>/{{.Name}}/ #{{.Id}}</title>
	</head>
	<body>
		<b>Posts in /{{.Name}}/ #{{.Id}}</b>
		{{template `bpost` .Op}}
		{{range $index, $element := .Replies}}
			{{template `bpost` $element}}
		{{end}}
		<br />
	<form action="/{{.Name}}/thread/{{.Id}}/post" method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<th>Name</th>
				<td><input type="text" name="name" placeholder="Name" /></td>
			</tr>
			<tr>
				<th>Subject</th>
				<td><input type="text" name="subject" placeholder="Subject" /></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><input type="text" name="email" placeholder="Email" /></td>
			</tr>
			<tr>
				<th>Message</th>
				<td><textarea name="message" rows="5" cols="40" placeholder="Message"></textarea></td>
			</tr>
			<tr>
				<th>File</th>
				<td><input type="file" name="file" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Post" /></td>
			</tr>
		</table>
	</form>
	</body>
</html>