{{define `bpost`}}
<div id="{{.Id}}" style="background-color:#88DDAA">
<p style="margin-bottom:0">
{{if .HasSubject}}<span style="color:blue">{{.FSubject}}</span> {{end}}
{{if .HasEmail}}<a href="mailto:{{.FEmail}}">{{end}}
{{if .HasName}}<span style="color:red">{{.FName}}</span>{{else}}<span style="color:#117743">{{.FName}}</span>{{end}}
{{if .HasEmail}}</a>{{end}}
<time datetime="{{.FDate}}">{{.StrDate}}</time>
<a href="/{{.Board}}/thread/{{.Thread}}#{{.Id}}">No.</a>
{{.Id}}
</p>
{{if .HasFile}}
<div>
<p style="margin-bottom:0; margin-top: 0">File: <a href="{{.FullOriginal}}">{{.StrOriginal}}</a></p>
<a href="{{.FullFile}}">
	{{if .CanThumb}}<img src="{{.FullThumb}}" alt="{{.File}}" />{{else}}{{.File}}{{end}}
</a>
</div>
{{end}}
{{if .HasMessage}}
<div>
{{.FMessage}}
</div>
{{end}}
</div>
{{end}}
<html>
	<head>
		<title>/{{.Board}}/ #{{.Id}}</title>
	</head>
	<body>
		<b>Posts in /{{.Board}}/ #{{.Id}}</b>
		{{template `bpost` .Op}}
		{{range $index, $element := .Replies}}
			{{template `bpost` $element}}
		{{end}}
		<br />
		<form action="/{{.Board}}/thread/{{.Id}}/post" method="post" enctype="multipart/form-data">
			<table>
				<tr>
					<th>Name</th>
					<td><input type="text" name="name" placeholder="Name" /></td>
				</tr>
				<tr>
					<th>Subject</th>
					<td><input type="text" name="subject" placeholder="Subject" /></td>
				</tr>
				<tr>
					<th>Email</th>
					<td><input type="text" name="email" placeholder="Email" /></td>
				</tr>
				<tr>
					<th>Message</th>
					<td><textarea name="message" rows="5" cols="30" placeholder="Message"></textarea></td>
				</tr>
				<tr>
					<th>File</th>
					<td><input type="file" name="file" /></td>
				</tr>
				<tr>
					<td><input type="submit" value="Post" /></td>
				</tr>
			</table>
		</form>
	</body>
</html>