<div id="{{.Id}}" class="reply">
<p style="margin-bottom:0">
{{if .HasSubject}}<span class="subject">{{.FSubject}}</span> {{end}}
{{if .HasEmail}}
<a class="email" href="mailto:{{.FEmail}}">{{.FName}}{{.Trip}}</a>
{{else}}
{{if or .HasName (not .HasTrip)}}
<span class="name">{{.FName}}</span>
{{end}}
{{if .HasTrip}}<span class="trip">{{.Trip}}</span>{{end}}
{{end}}
<time datetime="{{.FDate}}">{{.StrDate}}</time>
<a href="/{{.Board}}/thread/{{.Thread}}#{{.Id}}">No.</a>
{{.Id}}
{{range .References}} <a href="{{.Url}}">&gt;&gt;{{.Id}}</a>{{end}}
{{if .IsMod}}
<form action="/{{.Board}}/mod/{{.Thread}}/deleted" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" value="{{.Id}}"/>
<button type="submit">delete</button>
</form>
{{end}}
</p>
{{if .HasFile}}
<p style="margin-bottom:0; margin-top: 0">File: <a href="{{.FullOriginal}}">{{.StrOriginal}}</a></p>
<a href="{{.FullFile}}">
	{{if .CanThumb}}<img class="thumb" src="{{.FullThumb}}" alt="{{.File}}" />{{else}}{{.File}}{{end}}
</a>
{{end}}
{{if .HasMessage}}
<span class="message">
{{.FMessage}}
</span>
{{end}}
<div style="clear: both"></div>
</div>
