{{define `bpost`}}
<div id="{{.Id}}">
Name[{{.Name}}] Subject[{{.Subject}}] Email[{{.Email}}] Date[{{.Date}}]{{if (.HasFile)}} File[<a href="/{{.Board}}/src/{{.File}}">{{.File}}</a>]{{end}} Message[{{.Message}}]
</div>
{{end}}
<html>
	<head>
		<title>/{{.Name}}/ #{{.Id}}</title>
	</head>
	<body>
		<b>Posts in /{{.Name}}/ #{{.Id}}</b>
		{{template `bpost` .Op}}
		{{range $index, $element := .Replies}}
			{{template `bpost` $element}}
		{{end}}
		<br />
		<form action="/{{.Name}}/thread/{{.Id}}/post" method="post" enctype="multipart/form-data">
			<div>
			Name: <input type="text" name="name" />
			Subject: <input type="text" name="subject" />
			Email: <input type="text" name="email" />
			</div>
			<div>
			Message: <input type="text" name="message" />
			</div>
			<input type="file" name="file" />
			<input type="submit" value="Post" />
		</form>
	</body>
</html>