<html>
	<head>
		<title>/{{.Name}}/ - {{.Desc}}</title>
	</head>
	<body>
	<b>{{.Info}}</b>
	<br />
	<b>Threads:</b>
{{range $index, $element := .Threads}}
	<br />
	<a href="/{{.Board}}/thread/{{$element.Id}}">#{{$element.Id}}</a>
	{{template `bpost` $element.Op}}
	{{range $ti, $te := $element.Replies}}
		<br />
		{{template `bpost` $te}}
	{{end}}
{{end}}
	</body>
</body>