<html>
	<head>
		<title>/{{.Board}}/ #{{.Id}}</title>
		<link rel="stylesheet" type="text/css" href="/static/site.css">
	</head>
	<body>
		<b>Posts in /{{.Board}}/ #{{.Id}}</b>
		{{template `post` .Op}}
		{{range $index, $element := .Replies}}
			{{template `post` $element}}
		{{end}}
		<br />
		<form action="/{{.Board}}/thread/{{.Id}}/post" method="post" enctype="multipart/form-data">
			<table>
				<tr>
					<th>Name</th>
					<td><input type="text" name="name" placeholder="Name" /></td>
				</tr>
				<tr>
					<th>Subject</th>
					<td><input type="text" name="subject" placeholder="Subject" /></td>
				</tr>
				<tr>
					<th>Email</th>
					<td><input type="text" name="email" placeholder="Email" /></td>
				</tr>
				<tr>
					<th>Message</th>
					<td><textarea name="message" rows="5" cols="30" placeholder="Message"></textarea></td>
				</tr>
				<tr>
					<th>File</th>
					<td><input type="file" name="file" /></td>
				</tr>
				<tr>
					<td><input type="submit" value="Post" /></td>
				</tr>
			</table>
		</form>
	</body>
</html>
